
.weather-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 12px;
}

.weather-header{
     text-transform: capitalize;
     font-weight: 500;
     color: #025464;
     font-size: clamp(1.2rem, 1.5vw, 1.5rem);
}
.weather-section{
    position: relative;
    background: #efefec;
    font-family: 'Manrope', sans-serif;
    transition: 0.2s ease-out;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

.weather-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.forecast-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 12px;
}

#weather-image{
    width: 32px;
    height: 32px;
}

.weather-box .temperature{ 
    color: #025464;
    font-size: 1.2rem;
    font-weight: 800;
}

.not-found{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    scale: 0;
    opacity: 0;
    display: none;
}

.not-found img{
    width: 70%;
}

.not-found p{
    color: #025464;
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}

.weather-box{
    scale: 0;
    opacity: 0;
}

.fadeIn{
    animation: 0.1s fadeIn forwards;
    animation-delay: 0.1s;
}

@keyframes fadeIn{
    to {
        scale: 1;
        opacity: 1;
    }
}
