body {
  font-family: 'Manrope', sans-serif;
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: #F8F1F1;
  
}

ul {
  list-style: none;
  padding-inline-start: 40px;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #025464;
  vertical-align: baseline;

}